x-ecu-common: &ecu_common
  build: ./ecu
  environment:
    - VEHICLE_ID=VIN_SIM_0001
    - OTA_PUBLIC_KEY=BI/ezKPNG+EgSFCMkOnowq8sX8ZSnGZyN06cKtUxiss=

services:
  mqtt:
    image: eclipse-mosquitto:latest
    ports:
      - "1883:1883"
    volumes:
      - ./mqtt/mosquitto.conf:/mosquitto/config/mosquitto.conf

  control-plane:
    build: ./control-plane
    ports:
      - "50051:50051"
    environment:
      - FLASK_ENV=development
    volumes:
      - ./traces:/app/traces

  artifact-server:
    build: ./artifact-server
    ports:
      - "8082:8082"
    volumes:
      - ota-artifacts:/var/www/html

  backend:
    build: ./backend
    environment:
      - VEHICLE_URL=http://gateway:8080
      - MQTT_BROKER=mqtt
      - CONTROL_PLANE_TARGET=control-plane:50051
      - ARTIFACT_SERVER_URL=http://artifact-server:8082
      - VEHICLE_ID=VIN_SIM_0001
      - OTA_SECRET_KEY=CctIOT758amWJpb0sha1qNHE/HAhhVE7JXzcmWJz9Us=
    volumes:
      - ota-artifacts:/app/artifacts
      - ./traces:/app/traces
    depends_on: [ gateway, mqtt, control-plane ]

  ecu_engine:
    <<: *ecu_common
    environment:
      - VEHICLE_ID=VIN_SIM_0001
      - ECU_ID=engine
      - OTA_PUBLIC_KEY=BI/ezKPNG+EgSFCMkOnowq8sX8ZSnGZyN06cKtUxiss=
    ports: [ "8101:8080" ]
    volumes:
      - ./traces:/app/traces

  ecu_adas:
    <<: *ecu_common
    environment:
      - VEHICLE_ID=VIN_SIM_0001
      - ECU_ID=adas
      - OTA_PUBLIC_KEY=BI/ezKPNG+EgSFCMkOnowq8sX8ZSnGZyN06cKtUxiss=
    ports: [ "8102:8080" ]
    volumes:
      - ./traces:/app/traces

  gateway:
    build: ./gateway
    ports: [ "8080:8080" ]
    environment:
      - VEHICLE_ID=VIN_SIM_0001
      - ECU_ENGINE_URL=http://ecu_engine:8080
      - ECU_ADAS_URL=http://ecu_adas:8080
      - MQTT_BROKER=mqtt
      - CONTROL_PLANE_TARGET=control-plane:50051
      - ARTIFACT_SERVER_URL=http://artifact-server:8082
    depends_on: [ ecu_engine, ecu_adas, mqtt, control-plane ]
    volumes:
      - ./traces:/app/traces

volumes:
  ota-artifacts:
